<header class="headerMarket">
  <h1>Market App</h1>
</header>
<body>
  <nav class="nav-bar"> 
    <input [(ngModel)]="inputSearch" class="input-search">
    <button (click)="searchButton()" class="button-search">Pesquisar</button>
  </nav>
  <div>
    <div class="divFive">
      <div class="headerFive">
        <p>Data</p>
        <p>Abertura</p>
        <p>Fechamento</p>
      </div>
      <div *ngFor="let data of ultimas5Datas" class="lastfive">
        <p>{{ data }}</p> 
        <p>{{ this.ativosArray["Time Series (Daily)"][data]['1. open'] | number: '1.2-2' }}</p>
        <p>{{ this.ativosArray["Time Series (Daily)"][data]['4. close'] | number: '1.2-2' }}</p>
      </div>
  </div>
  </div>
  <div>
    <div>
      <canvas #myChart width="200" height="400"></canvas>
    </div>
  </div>
</body>